* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  background-color: lightgray;

}


.App {
  display: flex;
  max-width: 1280px;
  margin: 0 auto;
  height: 100vh;
  background-color: lightgray;

  .colorPicker{
   padding-left: 1rem;
  }

  .imageGallery {
    background-color: white;
    flex: 1 1 20%;
    margin: 1rem;
    border-radius: 4px;
    overflow: auto;

    .imgContainer {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;


      img {
        width: 90%;
        height: auto;
        margin: .5rem;

      }

    }

    img {
      display: block;
      cursor: pointer;
    }
  }

  .mainCard {
    background-color: white;
    flex: 1 1 50%;
    margin: 1rem;
    border-radius: 4px;

    .titleCard {
      text-align: center;
      margin-top: 1rem;
      margin-bottom: 4rem;
    }

    .cardImg {
      position: relative;
      width: 400px;
      height: 400px;
      margin: 0 auto;
      border: 4px solid lightsteelblue;

      .selected {
        width: 100%;
        height: 100%;
      }

    }

    .customText {
      position: relative;
      text-align: center;
      display: flex;
      align-items: center;
      flex-direction: column;

      .mainText {
        z-index: 1;
        position: absolute;
        top: -260px;
        //border: 2px solid red;
        max-width: 13rem;
        word-break: break-word;
        p {
          font-size: 48px;
          position: center;
          margin: 0 auto;

        }

      }

      .signatureText {
        position: absolute;
        top: -45px;
        max-width: 20rem;
        //border: 2px solid red;
      }

    }

  }

  .sideEditor {
    background-color: white;
    flex: 1 1 30%;
    margin: 1rem;
    border-radius: 4px;

    .editorSettings {
      margin: 1rem;

      input{
        width: 100%;
        height: 2rem;
      }

      h4{
        margin-top: 1rem;
      }
    }

    button{
      outline: none;
      text-decoration: none;
      border-radius: 10px;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      text-transform: uppercase;
      padding: .4rem;
      opacity: 1;
      background-color: lightskyblue;
      border: 1px solid rgba(22, 76, 167, 0.6);

      &:hover{
        color: white;
        animation: rotate 0.7s ease-in-out both;
        animation-delay: 0.06s;
        @keyframes rotate {
          0% {
            transform: rotate(0deg) translate3d(0, 0, 0);
          }
          25% {
            transform: rotate(3deg) translate3d(0, 0, 0);
          }
          50% {
            transform: rotate(-3deg) translate3d(0, 0, 0);
          }
          75% {
            transform: rotate(1deg) translate3d(0, 0, 0);
          }
          100% {
            transform: rotate(0deg) translate3d(0, 0, 0);
          }
        }

        @keyframes storm {
          0% {
            transform: translate3d(0, 0, 0) translateZ(0);
          }
          25% {
            transform: translate3d(4px, 0, 0) translateZ(0);
          }
          50% {
            transform: translate3d(-3px, 0, 0) translateZ(0);
          }
          75% {
            transform: translate3d(2px, 0, 0) translateZ(0);
          }
          100% {
            transform: translate3d(0, 0, 0) translateZ(0);
          }
        }
      }
    }

  }
}

